* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.container {
    width: 400px;
    margin: 50px auto;
    padding: 15px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
}

form {
    margin: 10px 0;
}

input, textarea {
    padding: 8px;
    width: 70%;
}

.form-group {
  margin-bottom: 1rem;
}

button {
    padding: 8px;
    margin-left: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

li.completed span {
    text-decoration: line-through;
    color: gray;
}

.completed {
  background-color: rgb(141, 238, 141);
}

.error {
    color: red;
}

.link-delete {
    color: red;
    font-weight: bold;
}

.link-edit {
    color: green;
    font-weight: bold;
}

.error-not-found {
    padding: 1rem;
    background-color: rgba(241, 87, 87, 0.678);
    border: 1px dashed red;
    font-weight: bold;
}

.header, .footer {
    background-color: #a5a5a5;
    padding: 0.5rem;
}

.header {
    border-bottom: 2px solid black;
}

.footer {
    border-top: 2px solid black;
}

.root-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex-grow: 1;
}